# Python build cache and venv directories
__pycache__/
venv/

# Runtime and environment directories
debug/*
fonts/*
data/*

# Directory keepers
!debug/.gitkeep
!fonts/.gitkeep
!data/.gitkeep
