<div class="card edit-control-pane">
  <div class="pane-head-auto">
    <div>
      <h2>Operations</h2>
      <p>Select an operation, configure it, then add it to the queue.</p>
    </div>
  </div>

  <div class="edit-tool-tabs">
    <button type="button" class="edit-tool-button active" data-tool="blank">Blank Page</button>
    <button type="button" class="edit-tool-button" data-tool="image">Insert Image</button>
    <button type="button" class="edit-tool-button" data-tool="rotate">Rotate Pages</button>
    <button type="button" class="edit-tool-button" data-tool="delete">Delete Pages</button>
    <button type="button" class="edit-tool-button" data-tool="move">Move Pages</button>
    <button type="button" class="edit-tool-button" data-tool="text">Add Text</button>
    <button type="button" class="edit-tool-button" data-tool="imageOverlay">Add Image</button>
  </div>

  <div class="edit-tool-panel">
    {% include "partials/edit/tools/blank.html" %}
    {% include "partials/edit/tools/image.html" %}
    {% include "partials/edit/tools/rotate.html" %}
    {% include "partials/edit/tools/delete.html" %}
    {% include "partials/edit/tools/move.html" %}
    {% include "partials/edit/tools/text.html" %}
    {% include "partials/edit/tools/image_overlay.html" %}
  </div>

  <div class="edit-queue-head">
    <div>
      <h2>Edit Queue</h2>
      <p>Operations will be applied in this order.</p>
    </div>
    <button type="button" id="clearEditOps" class="warning">Clear</button>
  </div>

  <ol id="editOpList" class="edit-op-list"></ol>

  <div class="edit-action-row">
    <button type="button" id="undoEditApply" class="secondary" disabled>Undo</button>
    <button type="button" id="applyEditOps" class="primary">Apply</button>
    <button type="button" id="downloadEditedPdf" class="secondary" disabled>Download</button>
  </div>
</div>
