<!doctype html>
<html lang="ko">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}APDF{% endblock %}</title>
  <link rel="stylesheet" href="/static/style.css?v=5">
  {% block head %}{% endblock %}
</head>
<body>
  <main>
    {% include "partials/layout/header.html" %}
    {% include "partials/layout/nav.html" %}

    {% block content %}{% endblock %}

    {% include "partials/layout/footer.html" %}
  </main>

  {% block scripts %}{% endblock %}
</body>
</html>
